html,body {
    height:100%;
    width:100%;
    margin:auto;
    overflow: hidden;
}

#active_home {
    background-color:#222d22;
}

#active_analysis {
    background-color:#222d22;
}

#active_history {
    background-color:#222d22;
}

#active_add {
    background-color:#222d22;
}

.btn {
    background-color:darkslategray;
}

.btn:hover {
    background-color:#222d22;
}

#title {
    text-align:center;
}

#title-bar {
    width:100%;
    background-color: darkslategray;
}

#title-content {
    height:100%;
    padding:0;
    border-right:1px solid black;
}

.top-link-style {
    color:white;
}

#navbar {
    float:right;
    padding-right:0;
}

.navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-brand:hover {
    color:white;
}

#main {
    width:100%;
    height:95%;
}

.main-content {
    height:100%;
    padding:0;
}

.sidebar-content {
    height:100%;
    padding:0;
    background-color: darkslategray;
    border: 1px solid black;
}

.side-item {
    border-bottom:1px black solid;
}

.side-item > a {
    color:white;
}

.nav > li >a:hover, .nav > li >a:focus {
    color:white;
    background-color: #222d22;
}

.row {
    margin:0;
}

.chart {
    height:85%;
}

.chart-rows {
    height:50%;
}

#chart-section {
    height:100%;
}

.chart-block {
    height:100%;
    width:50%;
    border:1px solid gray;
}

.no_graph {
    height:100%;
    text-align:center;
}

.no_graph img {
    width:100px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-analysis {
    border: 1px solid gray;
}

.analysis-block {
    height:50%;
    width:100%;
    margin:auto;
    text-align: center;
}

#pipeline-title {
    font-size:20px;
    line-height:60px;
    width:100%;
    color:gray;
}

#pipeline-field {
    height:60%;
    width:60%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius:50%;
    border: 2px solid black;
    background-color: green;
    color:white;
}

#pipeline-score {
    margin:auto;
    font-size:45px;
}

#pipeline-score-description {
    font-size:20px;
    line-height:60px;
    width:100%;
    color:gray;
}


/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 20px;
  width: 100%;
}

/* .modebar {
    display:none !important;
} */

/* #link {
    height:75%;
    width:100%;
    position:absolute;
    top:10%;
    z-index: 10;
} */
