html,body {
    height:100%;
    width:100%;
    margin:auto;
    overflow: hidden;
}

#active_home {
    background-color:#222d22;
}

#active_analysis {
    background-color:#222d22;
}

#active_history {
    background-color:#222d22;
}

#active_add {
    background-color:#222d22;
}

.btn {
    background-color:darkslategray;
}

.btn:hover {
    background-color:#222d22;
}

#title {
    text-align:center;
}

#title-bar {
    width:100%;
    background-color: darkslategray;
}

#title-content {
    height:100%;
    padding:0;
    border-right:1px solid black;
}

.top-link-style {
    color:white;
}

#navbar {
    float:right;
    padding-right:0;
}

.navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-brand:hover, .navbar-brand:focus {
    color:white;
}


#main {
    width:100%;
    height:95%;
}

.main-content {
    height:100%;
    padding:0;
}

.sidebar-content {
    height:100%;
    padding:0;
    background-color: darkslategray;
    border: 1px solid black;
}

.side-item {
    border-bottom:1px black solid;
}

.side-item > a {
    color:white;
}

.nav > li >a:hover, .nav > li >a:focus {
    color:white;
    background-color: #222d22;
}

.row {
    margin:0;
}

.chart {
    height:85%;
}

.chart-rows {
    height:50%;
}

#chart-section {
    height:100%;
}

.chart-block {
    height:100%;
    width:50%;
    border:1px solid gray;
}

.no_graph {
    height:100%;
    text-align:center;
}

.no_graph img {
    width:100px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.no_graph form {
    position: absolute;
    margin: auto;
    bottom: 15%;
    left: 0;
    right: 0;
}

.main-analysis {
    border: 1px solid gray;
}

.analysis-block {
    height:50%;
    width:100%;
    margin:auto;
    text-align: center;
}

#pipeline-title {
    font-size:20px;
    line-height:60px;
    width:100%;
    color:gray;
}

.pipeline-field {
    height:60%;
    width:60%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius:50%;
    border: 2px solid black;
    color:white;
}

#green-field {
    background-color: green;
}

#orange-field {
    background-color: orange;
}

#red-field {
    background-color: red;
}

#pipeline-score {
    margin:auto;
    font-size:45px;
}

#pipeline-score-description {
    font-size:20px;
    line-height:60px;
    width:100%;
    color:gray;
}

<<<<<<< HEAD
=======

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 20px;
  width: 100%;
}

>>>>>>> 05ea5fef9992461cd607d2b9b9c26a9425c336c9
input {
    height:30px;
    background-color: darkslategray;
    color:white;
    border-radius:50px;
    border:1px solid black;
}

.update-button {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%;
}

.select-button {
    padding-left: 5%;
    padding-right: 5%;
}

.formfield-select--container {
<<<<<<< HEAD
    position: relative;
    width:50%;
    float:right;
    margin-right:15%;

=======
    position: relative; 
	
>>>>>>> 05ea5fef9992461cd607d2b9b9c26a9425c336c9
	background-color: darkslategray;
    border: #777 1px solid;
    border-radius:50px;

	overflow: hidden;
	/*
		Le select natif pourra
		dépasser sans être vu
	*/
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;

    background-color:darkslategray;
    color:white;

    height:30px !important;
	width: 100%;
	/*
		On est sûr de ne plus voir
		la flèche native
	*/

	height: auto;
	border: 0;
	margin: 0;
	padding-left: 10%;
	border-radius: 0;


	overflow: hidden;
	text-overflow: ellipsis;
	/*
		On empêche le texte d'aller
		jusqu'au bout s'il est trop long
	*/

}

.formfield-select--container::after {
	/* Le pointeur du select */
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: .75em;
	display: block;
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: white;
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
<<<<<<< HEAD
=======
}

.select-field-with-graph {
    width:50%;
    float:right;
    margin-right:15%;
}

.select-field-without-graph {
    width:25%;
    margin:auto;
    margin-bottom:2%;
>>>>>>> 05ea5fef9992461cd607d2b9b9c26a9425c336c9
}

/* .modebar {
    display:none !important;
} */

/* #link {
    height:75%;
    width:100%;
    position:absolute;
    top:10%;
    z-index: 10;
} */
