{% extends "main.html" %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_pipeline.css') }}">

        <!-- include python mode for the editor -->
        <link rel="stylesheet"  type="text/css" href="../static/codemirror/lib/codemirror.css">
        <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/monokai.css">
        <script type="text/javascript" src="../static/codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="../static/codemirror/mode/python/python.js"></script>
    </head>

    <body>
        {% block contentform %}
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="flash">
                {{ message }}
            </div>
            {% endfor %}
            {% block page_content %}{% endblock %}
        </div>
        {% endblock %}

        <form action="" method="post" name="pipe_wanted">
            {{ formeditor.pipToEdit() }}
            {{ formeditor.display }}
            {{ formeditor.delete }}
        </form>

        <form method="post">
            <label for="name">Nom de la pipeline :</label>
            <input type="text" name="pipe_name" value={{pipe_name}}>
            <textarea id="editor" name="editordata">{{ default }}</textarea>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                    theme: "monokai",
                    lineNumbers: true,
                    autoCloseTags: true
                })
                editor.setSize("500", "300")
            </script>
            <input type="submit" value="Enregistrer"/>
        </form>
    </body>
</html>

{% endblock %}
