{% extends "main.html" %}
{% block content %}

{% if pipeline != 'select_a_pipeline' %}
<div class="col-sm-6 main-content main-analysis">
    <div class="analysis-block">
        <span id="pipeline-title">{{ pipeline }}</span>
        {% if pipeline_score >= 80 %}
        <div id="green-field" class="pipeline-field">
            <span id="pipeline-score">{{ pipeline_score }}%</span>
        </div>
        {% elif pipeline_score < 80 and pipeline_score >= 70 %}
        <div id="orange-field" class="pipeline-field">
            <span id="pipeline-score">{{ pipeline_score }}%</span>
        </div>
        {% else %}
        <div id="red-field" class="pipeline-field">
            <span id="pipeline-score">{{ pipeline_score }}%</span>
        </div>
        {% endif %}
        <span id="pipeline-score-description">Score actuel</span>
    </div>
    <div id="graph_RMSE" class="analysis-block">

    </div>
</div>

<div class="col-sm-6 main-content main-analysis">
    <div id="graph_R2" class="analysis-block">

    </div>
    <div id="graph_Variance" class="analysis-block">

    </div>
</div>
{% else %}
<div id="no-pipeline-selected">Please select a pipeline to analyse
    <form action="" method="post" name="Graph">
        <div class="col-sm-6">
            <p>
                {{pipelineForm.pipelineToAnalyse()}}
            </p>
        </div>
        <div class="col-sm-6">
            <input type=submit value="Select">
        </div>
    </form>
</div>
{% endif %}

{% endblock %}