{% extends "main.html" %}
{% block content %}

<div class="row chart-rows">
    <div class="col-sm-6 chart-block">
        {% if graphJSON %}
        <!-- <a href='/analysis/{{up_left_pipeline}}'>
            <div id="link">

            </div>
        </a> -->
        <a href='/analysis/{{up_left_pipeline}}'>
            <div id="graph" class="chart" >

            </div>
        </a>
        <form action="" method="post" name="Graph">
            <div class="col-sm-6">
                <div class="formfield-select--container select-field-with-graph">
                    {{form.myField()}}
                </div>
            </div>
            <div class="col-sm-6">
                <input class="update-button" type=submit value="Update">
            </div>
        </form>
        {% else %}
        <div class="no_graph">
            <img src="../static/graph_icon.png">
            <form class="no-graph-form" action="" method="post" name="Graph">
                <div class="formfield-select--container select-field-without-graph">
                    {{form.myField()}}
                </div>
                <input class="select-button" type=submit value="Select">
            </form>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-6 chart-block">
        {% if graphJSON2 %}
        <a href='/analysis/{{up_right_pipeline}}'>
            <div id="graph2" class="chart">

            </div>
        </a>
        <form action="" method="post" name="Graph">
            <div class="col-sm-6">
                <div class="formfield-select--container select-field-with-graph">
                    {{form2.myField2()}}
                </div>
            </div>
            <div class="col-sm-6">
                <input class="update-button" type=submit value="Update">
            </div>
        </form>
        {% else %}
        <div class="no_graph">
            <img src="../static/graph_icon.png">
            <form class="no-graph-form" action="" method="post" name="Graph">
                <div class="formfield-select--container select-field-without-graph">
                    {{form2.myField2()}}
                </div>
                <input class="select-button" type=submit value="Select">
            </form>
        </div>
        {% endif %}
    </div>
</div>
<div class="row chart-rows">
    <div class="col-sm-6 chart-block">
        {% if graphJSON3 %}
        <a href='/analysis/{{down_left_pipeline}}'>
            <div id="graph3" class="chart">

            </div>
        </a>
        <form action="" method="post" name="Graph">
            <div class="col-sm-6">
                <div class="formfield-select--container select-field-with-graph">
                    {{form3.myField3()}}
                </div>
            </div>
            <div class="col-sm-6">
                <input class="update-button" type=submit value="Update">
            </div>
        </form>
        {% else %}
        <div class="no_graph">
            <img src="../static/graph_icon.png">
            <form class="no-graph-form" action="" method="post" name="Graph">
                <div class="formfield-select--container select-field-without-graph">
                    {{form3.myField3()}}
                </div>
                <input class="select-button" type=submit value="Select">
            </form>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-6 chart-block">
        {% if graphJSON4 %}
        <a href='/analysis/{{down_right_pipeline}}'>
            <div id="graph4" class="chart">

            </div>
        </a>
        <form action="" method="post" name="Graph">
            <div class="col-sm-6">
                <div class="formfield-select--container select-field-with-graph">
                    {{form4.myField4()}}
                </div>
            </div>
            <div class="col-sm-6">
                <input class="update-button" type=submit value="Update">
            </div>
        </form>
        {% else %}
        <div class="no_graph">
            <img src="../static/graph_icon.png">
            <form class="no-graph-form" action="" method="post" name="Graph">
                <div class="formfield-select--container select-field-without-graph">
                    {{form4.myField4()}}
                </div>
                <input class="select-button" type=submit value="Select">
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
