{% extends "design.html" %}
{% block body %}
<html>
<body>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <nav id="title-bar" class="row">
        <div class="">
            <div id="title-content" class="navbar-header col-sm-2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">LeBonCoin - Pipelines</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="top-link-style" href="/">Home</a></li>
                    <li><a class="top-link-style" href="/register">S'inscrire</a></li>
                    <li><a class="top-link-style" href="/deco">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="row">
        <div class="col-sm-2 sidebar-content">
            <ul class="nav">
                {% if active_item == 'active_home' %}
                <li id="{{ active_item }}" class="nav-item side-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% else %}
                <li id="" class="nav-item side-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% endif %}
                {% if active_item == 'active_analysis' %}
                <li id="{{ active_item }}" class="nav-item side-item">
                    {% if pipeline %}
                    <a class="nav-link" href="/analysis/{{pipeline}}">Analysis</a>
                    {% else %}
                    <a class="nav-link" href="/analysis/select_a_pipeline">Analysis</a>
                    {% endif %}
                </li>
                {% else %}
                <li id="" class="nav-item side-item">
                    {% if pipeline %}
                    <a class="nav-link" href="/analysis/{{pipeline}}">Analysis</a>
                    {% else %}
                    <a class="nav-link" href="/analysis/select_a_pipeline">Analysis</a>
                    {% endif %}
                </li>
                {% endif %}
                {% if active_item == 'active_history' %}
                <li id="{{ active_item }}" class="nav-item side-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
                {% else %}
                <li id="" class="nav-item side-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
                {% endif %}
                {% if active_item == 'active_add' %}
                <li id="{{ active_item }}" class="nav-item side-item">
                    <a class="nav-link" href="/add_pipeline">Add Pipeline</a>
                </li>
                {% else %}
                <li id="" class="nav-item side-item">
                    <a class="nav-link" href="/add_pipeline">Add Pipeline</a>
                </li>
                {% endif %}
                {% if active_item == 'active_add' %}
                <li id="{{ active_item }}" class="nav-item side-item">
                    <a class="nav-link" href="/add_data">Add Data</a>
                </li>
                {% else %}
                <li id="" class="nav-item side-item">
                    <a class="nav-link" href="/add_data">Add Data</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="col-sm-10 main-content">
            {% block content %}{% endblock %}
        </div>

    </div>

</body>

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">

    if (document.getElementById("graph") != null) {
        var graphs = {{graphJSON | safe}};
        Plotly.plot('graph',graphs,{});
    }
    if (document.getElementById("graph2") != null) {
        var graphs2 = {{graphJSON2 | safe}};
        Plotly.plot('graph2',graphs2,{});
    }
    if (document.getElementById("graph3") != null) {
        var graphs3 = {{graphJSON3 | safe}};
        Plotly.plot('graph3',graphs3,{});
    }
    if (document.getElementById("graph4") != null) {
        var graphs4 = {{graphJSON4 | safe}};
        Plotly.plot('graph4',graphs4,{});
    }
    if (document.getElementById("graph_RMSE") != null)  {
        var graph_RMSE = {{graphJSON_RMSE | safe}};
        Plotly.plot('graph_RMSE',graph_RMSE,{});
    }
    if (document.getElementById("graph_R2") != null)  {
        var graph_R2 = {{graphJSON_R2 | safe}};
        Plotly.plot('graph_R2',graph_R2,{});
    }
    if (document.getElementById("graph_Variance") != null)  {
        var graph_Variance = {{graphJSON_Variance | safe}};
        Plotly.plot('graph_Variance',graph_Variance,{});
    }
</script>

</html>
{% endblock %}
